


/* HEADER */
header {
    background-color: #1C1C1C;
    border-bottom: 1px solid #777;
    height: 120px;
    color: #fff;
    z-index: 1;
}
/* img {
    display: block;
    height: 52px;
} */
header .inner {
    width: 1650px;
    margin: 0 auto;
    position: relative;
    height: 120px;
    background-color: #1C1C1C;
    z-index: 1;
}
header .inner .img {
    display: block;
    height: 52px;
}

header .logo {
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* header .menu .category {
    
} */
header .menu .category .category__name {
    padding: 45px 32px 45px 32px;
    font-family: Noto+Sans+KR ;
    font-size: 18px;
    cursor: pointer;
}

header .menu .category:hover .category__name {
    color: rgb(0, 153, 255);
    /* #7E18A1; */
}


/*  */
header .menu .category .category__contents_1 {
    width: 140px;
    height: 130px;
    position: fixed;
    margin: 0 auto;
    display: none;
    background-color: #fff;
    border: 1px solid #1C1C1C;
    top: 90px;
}
header .menu .category:hover .category__contents_1 {
    display: block;
    cursor: pointer;
}
header .menu .category:hover .category__contents_1 > ul {
    padding: 15px 10px;
    font-size: 18px;
}

header .menu .category:hover .category__contents_1 > ul > li {
    padding: 15px 0px;
    text-align: center;
}
header .menu .category:hover .category__contents_1 > ul > li:hover {
    color: rgb(0, 153, 255);
}
/*  */
header .menu .category .category__contents_2 {
    width: 140px;
    height: 170px;
    position: fixed;
    margin: 0 auto;
    display: none;
    background-color: #fff;
    border: 1px solid #1C1C1C;
    top: 90px;
}
header .menu .category:hover .category__contents_2 {
    display: block;
    cursor: pointer;
}
header .menu .category:hover .category__contents_2 > ul {
    padding: 10px 10px;
    font-size: 18px;
}

header .menu .category:hover .category__contents_2 > ul > li {
    padding: 15px 0px;
    text-align: center;
}
header .menu .category:hover .category__contents_2 > ul > li:hover {
    color: rgb(0, 153, 255);
}
/*  */
header .menu .category .category__contents_3 {
    width: 140px;
    height: 74px;
    position: fixed;
    margin: 0 auto;
    display: none;
    background-color: #fff;
    border: 1px solid #1C1C1C;
    top: 90px;
}
header .menu .category:hover .category__contents_3 {
    display: block;
    cursor: pointer;
}
header .menu .category:hover .category__contents_3 > ul {
    padding: 10px 10px;
    font-size: 18px;
}

header .menu .category:hover .category__contents_3 > ul > li {
    padding: 15px 0px;
    text-align: center;
}
header .menu .category:hover .category__contents_3 > ul > li:hover {
    color: rgb(0, 153, 255);
}
/*  */
header .menu .category .category__contents_4 {
    width: 140px;
    height: 74px;
    position: fixed;
    margin: 0 auto;
    display: none;
    background-color: #fff;
    border: 1px solid #1C1C1C;
    top: 90px;
}
header .menu .category:hover .category__contents_4 {
    display: block;
    cursor: pointer;
}
header .menu .category:hover .category__contents_4 > ul {
    padding: 10px 10px;
    font-size: 18px;
}

header .menu .category:hover .category__contents_4 > ul > li {
    padding: 15px 0px;
    text-align: center;
}
header .menu .category:hover .category__contents_4 > ul > li:hover {
    color: rgb(0, 153, 255);
}

/* CONTENT */

content { 

}
content .inner {
    height: 1500px;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding: 200px;
    position: relative;
    
}
content .inner > ul {
    padding: 30px 160px;
    left: 780px;
    position: fixed;
}
content .inner > ul > li {
    padding: 20px;
}

content .inner .profile {
   position: absolute;
   top: 1000px;
   left: auto;
   margin: auto; 
   display: flex;
}
content .inner .profile > p {
   padding: 4px 190px 10px 280px;
   font-size: 28px;
   line-height: 1.7;
   font-size: 24px;
   font-weight: lighter;
   right: auto;
}

content .inner2 {
    height: 480px;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding: 200px;
    position: relative;
    padding: 400px 0px
}

content .inner2 .music > p {
    font-size: 28px;
    padding: 20px;
}

/* 세로선 /line/ 넣기.. */
/* content .inner2 .music .line {
    border-left: thick solid #fff;
} */
content .inner2 .music > img {
    margin-top: 110px;
    margin-bottom: 40px;
}
