:root {
  /* swiper */
  --swiper-theme-color : white !important;
  --swiper-pagination-bullet-inactive-color : #999 !important;
  --swiper-pagination-bullet-vertical-gap : 1rem;
}

.isButton {
  cursor : pointer;
}

body {
  margin : 0;
  padding : 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  color : white;
  background-color : black;
  min-width : 768px;
}

a {
  text-decoration: none;
  color : white;
}

header {
  position : fixed;
  top : 0;
  left : 0;
  z-index : 1000;

  display : flex;
  width : calc(100vw - 4rem);
  height : 7.5rem;

  margin : 0 2rem;

  justify-content: space-between;
  align-items : center;

  border-bottom : 1px solid;
}

header img {
  height : 3.25rem;
}

nav {
  display : flex;
  gap : 4rem;

  align-items : center;
}

nav > .menu:hover {
  cursor : pointer;
}

footer {
  width : 100vw;
  text-align: center;
  
  color : #999;
  font-size: 1.2rem;
  padding : 4rem 0;
}

::-webkit-scrollbar {
  display : none;
}

.dim {
  height : 7.5rem;
}

.errorPage h2 {
  text-align: center;
  padding : 3rem 0;
}