.albumsPage {
    width : 100vw;

  .dim {
    height : 7.5rem;
  }

  .playerSection {
    display : flex;
    gap : 2rem;
    height : 75vh;
    width : 100%;
    max-width : calc(100% - 4rem);

    justify-content: center;
    align-items: center;
    
    margin : 0 auto;
  }

  .playerSection .musicPlayerWrapper {
    border-radius : 1rem;

    color : black;
    display : flex;
    flex-direction: column;

    gap : 2rem;
  }

  .playerSection .musicPlayerContainer {
    position : relative;
    display : flex;
    flex-direction: column;

    height : 25rem;

    background-color: white;
    border-radius : 1rem;

    color : black;
  }

  /* thumbnail */
  .thumbnail {
    overflow : hidden;
    padding : 0;

    img {
      object-fit : cover;
    }
  }

  .playerSection .musicPlayerContainer .thumbnail {
    background-color : #bbb;

    margin: 1.5rem;

    text-align : center;
  }

  .playerSection .musicPlayerContainer {
    margin : 1rem;
  }

  .explain {
    white-space: pre-line;
    line-height: 160%;
    font-weight : 300;
    font-size : .875rem;

    margin : 1rem 2rem;
  }

  .explain-title {
    margin : 0 2rem;
    font-size : 1.25rem;
    font-weight : 600;
  }

  .playerline {
    // width : 100%;
  }

  @media (max-width: 768px) {
    .playerSection {
      margin-top : 2rem;
      display : flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: max-content;
      gap : 5rem;
    }

    .playerSection .musicPlayerContainer {
      height: 25rem;
    }
  }
}