body {
    color: #1C1C1C
}

img {
    display: block;
    height: 52px;
}


/* HEADER */
header {
    background-color: #fff;
    border-bottom: 1px solid #777;
    height: 120px;
}

header .inner {
    width: 1750px;
    height: 120px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

header .logo {
    height: 52px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/* header .menu .category {
    
} */
header .menu .category .category__name {
    padding: 45px 32px 45px 32px;
    font-family: Noto+Sans+KR ;
    font-size: 18px;
}

header .menu .category:hover .category__name {
    color: #7E18A1;
}
/* header .menu .category .category__conrents {
    
} */
